@if (gettingData) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="py-3" style="margin-top: 220px;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
}
@else {
<section class="features_area bg-fbfbfb py-5 px-4 px-md-0 section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div data-aos="fade-up" class="main_title mb-5">
                    <h2 class="after_head">
                        Users List
                    </h2>
                </div>
            </div>
        </div>

        @if (users.length) {
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                @for (user of users; track $index) {
                <div class="col">
                    <div
                        class="card mb-0 h-100 rounded-3 bg-fbfbfb border-primary border-2 user-card overflow-hidden border hovering-shadow  shadow">
                        <div class="card-body">
                            <img [routerLink]="[user.id]" #imageError (error)="imageError.src = 'assets/images/1.svg'"
                                [src]="user.avatar? user.avatar: '/assets/images/1.svg'"
                                style="height: 300px;width: 300px;"
                                class="img-fluid mx-auto  rounded-3 mb-3 object-fit-cover pointer" alt="">
                            <div class="text-center ">
                                <p class="h6 my-1 text-body">
                                    {{user.first_name}} {{user.last_name}}
                                </p>
                                <p class="mb-0 small">
                                    <a class="text-muted" href="mailto:{{user.email}}">
                                        <i class='bx bxs-envelope align-middle'></i>
                                        {{user.email}}
                                    </a>
                                </p>
                                <!-- <a class="btn btn-warning btn-sm mx-auto mt-3" [routerLink]="[user.id]">
                                    <i class='bx bxs-user align-middle'></i>
                                    User Profile
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
        @else {
        <p class="text-center py-4">
            لا يوجد مستخدمين بعد
        </p>
        }

    </div>
    <div class="d-flex justify-content-center mt-5">
        <nz-pagination [(nzPageIndex)]="page" [nzTotal]="total" [nzPageSize]="per_page"
            (nzPageIndexChange)="loadUsers()"></nz-pagination>
    </div>
</section>
}